
<label for="title">
	<f:translate key="tx_lvdb_domain_model_data.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="text1">
	<f:translate key="tx_lvdb_domain_model_data.text1" />
</label><br />
	<f:form.textarea property="text1" cols="40" rows="15" /><br />
<label for="img1">
	<f:translate key="tx_lvdb_domain_model_data.img1" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="text2">
	<f:translate key="tx_lvdb_domain_model_data.text2" />
</label><br />
	<f:form.textarea property="text2" cols="40" rows="15" /><br />
<label for="img2">
	<f:translate key="tx_lvdb_domain_model_data.img2" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="text3">
	<f:translate key="tx_lvdb_domain_model_data.text3" />
</label><br />
	<f:form.textarea property="text3" cols="40" rows="15" /><br />
<label for="img3">
	<f:translate key="tx_lvdb_domain_model_data.img3" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="textacc1">
	<f:translate key="tx_lvdb_domain_model_data.textacc1" />
</label><br />
	<f:form.textarea property="textacc1" cols="40" rows="15" /><br />
<label for="textacc2">
	<f:translate key="tx_lvdb_domain_model_data.textacc2" />
</label><br />
	<f:form.textarea property="textacc2" cols="40" rows="15" /><br />
<label for="textacc3">
	<f:translate key="tx_lvdb_domain_model_data.textacc3" />
</label><br />
	<f:form.textarea property="textacc3" cols="40" rows="15" /><br />
<label for="adresse">
	<f:translate key="tx_lvdb_domain_model_data.adresse" />
</label><br />
	<f:form.textfield property="adresse" /><br />
<label for="plz">
	<f:translate key="tx_lvdb_domain_model_data.plz" />
</label><br />
	<f:form.textfield property="plz" /><br />
<label for="ort">
	<f:translate key="tx_lvdb_domain_model_data.ort" />
</label><br />
	<f:form.textfield property="ort" /><br />
<label for="land">
	<f:translate key="tx_lvdb_domain_model_data.land" />
</label><br />
	<f:form.textfield property="land" /><br />
<label for="telefon">
	<f:translate key="tx_lvdb_domain_model_data.telefon" />
</label><br />
	<f:form.textfield property="telefon" /><br />
<label for="fax">
	<f:translate key="tx_lvdb_domain_model_data.fax" />
</label><br />
	<f:form.textfield property="fax" /><br />
<label for="email">
	<f:translate key="tx_lvdb_domain_model_data.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="sliderbilder">
	<f:translate key="tx_lvdb_domain_model_data.sliderbilder" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="lat">
	<f:translate key="tx_lvdb_domain_model_data.lat" />
</label><br />
	<f:form.textfield property="lat" /><br />
<label for="lon">
	<f:translate key="tx_lvdb_domain_model_data.lon" />
</label><br />
	<f:form.textfield property="lon" /><br />
<label for="geocode">
	<f:translate key="tx_lvdb_domain_model_data.geocode" />
</label><br />
	<f:form.textfield property="geocode" /><br />
<label for="newsuid">
	<f:translate key="tx_lvdb_domain_model_data.newsuid" />
</label><br />
	<f:form.textfield property="newsuid" /><br />
<label for="termineuid">
	<f:translate key="tx_lvdb_domain_model_data.termineuid" />
</label><br />
	<f:form.textfield property="termineuid" /><br />