
<table class="tx-lvdb" >
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.title" />
		</td>
		<td>
		{data.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.text1" />
		</td>
		<td>
		{data.text1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.img1" />
		</td>
		<td>
				<f:image src="{data.img1.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.text2" />
		</td>
		<td>
		{data.text2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.img2" />
		</td>
		<td>
				<f:image src="{data.img2.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.text3" />
		</td>
		<td>
		{data.text3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.textacc1" />
		</td>
		<td>
		{data.textacc1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.textacc2" />
		</td>
		<td>
		{data.textacc2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.textacc3" />
		</td>
		<td>
		{data.textacc3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.adresse" />
		</td>
		<td>
		{data.adresse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.plz" />
		</td>
		<td>
		{data.plz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.ort" />
		</td>
		<td>
		{data.ort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.land" />
		</td>
		<td>
		{data.land}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.telefon" />
		</td>
		<td>
		{data.telefon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.fax" />
		</td>
		<td>
		{data.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.email" />
		</td>
		<td>
		{data.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.sliderbilder" />
		</td>
		<td>
				<f:image src="{data.sliderbilder.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.lat" />
		</td>
		<td>
		{data.lat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.lon" />
		</td>
		<td>
		{data.lon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.geocode" />
		</td>
		<td>
		{data.geocode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.newsuid" />
		</td>
		<td>
		{data.newsuid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvdb_domain_model_data.termineuid" />
		</td>
		<td>
		{data.termineuid}
		</td>
	</tr>
</table>