
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Data</h1>

<f:flashMessages />

<table  class="tx_lvdb" >
	<tr>
		<th><f:translate key="tx_lvdb_domain_model_data.title" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.text1" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.img1" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.text2" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.img2" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.text3" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.textacc1" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.textacc2" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.textacc3" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.adresse" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.plz" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.ort" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.land" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.telefon" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.fax" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.email" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.sliderbilder" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.lat" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.lon" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.geocode" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.newsuid" /></th>
		<th><f:translate key="tx_lvdb_domain_model_data.termineuid" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{datas}" as="data">
		<tr>
			<td><f:link.action action="show" arguments="{data : data}"> {data.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.text1}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.img1.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.text2}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.img2.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.text3}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.textacc1}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.textacc2}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.textacc3}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.adresse}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.plz}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.ort}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.land}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.telefon}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.fax}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.sliderbilder.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.lat}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.lon}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.geocode}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.newsuid}</f:link.action></td>
			<td><f:link.action action="show" arguments="{data : data}"> {data.termineuid}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{data : data}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{data : data}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Data</f:link.action>
</f:section>